/* ==============================
   Farben: Marsrot & Kometensilber
   ============================== */

/* Marsrot für Header (Top-Leiste) */
.md-header {
  background-color: #E04B3D;
}

/* Kometensilber für aktives Menü */
.md-nav__link--active,
.md-nav__link--active:hover {
  color: #8F9CA3 !important;
  font-weight: bold;
}

/* Hovereffekt im Menü */
.md-nav__link:hover {
  color: #E04B3D !important;
}

/* ==============================
   Überschriften-Styling
   ============================== */

h1, h2, h3 {
  clear: both;
}

/* Marsrot: Linie unter h2 */
h2 {
  margin: 4rem 0rem 2rem 0rem !important;
  border-bottom: solid 2px #E04B3D;
}

/* Kometensilber: Balken links bei h3 */
h3 {
  margin: 3rem 0rem 1rem 0rem !important;
  padding: 0rem 0rem 0.5rem 0.5rem !important;
  border-left: solid 3px #8F9CA3;
}

/* ==============================
   Medien und responsives Verhalten
   ============================== */

/* Bilder im Artikel rechtsfloatend */
article img {
  width: 33%;
  float: right;
  margin: 1rem;
  border-radius: 0.5rem;
}

/* Videos und Iframes zentriert */
video,
iframe {
  width: 50%;
  display: block;
  margin: 1rem auto;
}

/* Manuelle Klasse */
.width50 {
  width: 50%;
}

/* Mobilanpassung */
@media(max-width:500px) {
  video,
  iframe {
    width: 100%;
  }
}
