__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
.pybuilder/
target/

# Notebooks
.ipynb_checkpoints

# pyenv / pipenv / poetry / venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pdm-python
__pypackages__/
.pixi

# Editors & Tools
.idea/
.vscode/
.ropeproject
.spyderproject
.cursorignore
.cursorindexingignore
.ruff_cache/
.pyre/
.pytype/
.mypy_cache/
.dmypy.json
dmypy.json

# MkDocs output
/site

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
